html{
  /* formatting */
  /* border: 5px solid blue; */
  color: whitesmoke;
}

body{
  /* formatting */
  /* border: 5px solid green; */
 
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* formatting */
  background-color: rgba(0,0,0,0.6);
  
}

header div, header nav{
  width: 100%;
  height: 2rem;
  border-radius: 10%;
  display: flex;
  align-items: center;
  /* flex-direction: row;
  flex-direction: nowrap;
  justify-content: flex-start; */
  /* FOR DEBUGGING */
  /* border:2px solid hotpink;  */
}

header nav, header nav a, header svg {
display: none;
}

header div a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid hotpink; */
}

header div a:hover{
  color:#5a625a;
  /* border: 2px solid lawngreen; */
  
}

header div a h1{
  font-size: 1rem;
  margin-left: .4rem;
}
 
header nav{
justify-content: space-between;
}

header nav a{
  padding: 0 1rem;
}

header nav a:hover{
  border-radius: 5px;
  background-color: darkgrey;
}

.idx-hdr-svg{
  width: 30px;
  /* height: 100%; */
  fill: currentColor;
  /* FOR DEBUGGING ONLY */
  /* border: 1px solid darkturquoise; */
}

.idx-hdr-svg:hover{
  /* fill: #FF0000; */
  fill:#5a625a;
}


#idx-atf h1{
  font-size: 2rem;
  text-align: center;
  padding-top: 1.5rem;
}

#idx-atf h2{
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
  
#idx-atf h3{
  font-size: 1.4rem;
  text-align: center;
  margin-top: .5rem;
  line-height:1;
}

button{
  color: rgb(202, 250, 234);
  font-size: 1rem;
  font-weight:700;
  border: 1px solid rgb(202, 250, 234);
  padding: .7rem 1.2rem;
  border-radius: 10px;
  margin-bottom: 10rem;
}