#idx-atf{
  background-image: url("../img/background-photo.jpg");
}



#idx-atf > div {
  /* display: flex; */
  height: 45vh;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h3{
  margin-top: .4rem;
}