:root{
  --primary:#ddd;
  --dark:rgba(51, 51, 51, 0.507);
  --light:#fff;
  --shadow: 0 1px 5px rgba(75, 75, 75, 0.945);
}

html{
  box-sizing: border-box;
  color: var(--dark);
 
}

body{
/* border:2px solid hotpink; */
}


.background-image{
  /* display: grid; */
  /* grid-gap:15px; */
  /* border:2px solid green; */
  height: 100vh; background-image: url("../img/nih-atf.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

/* Navigation */

#header{
  height: 100px;
  width: auto;
  /* border:2px solid hotpink; */
}

.nav-container{
  display:grid;
  grid-template-areas: 'logo nav';

  
}


#headerLogo-container{ 
grid-area: logo;
/* border:2px solid gold; */
margin:10px 0px 0px 30px;
width:224px;
}


.sidebar{
  grid-area:nav;
}

ul a{
  /* border: 4px solid rgb(0, 255, 221); */
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  font-family: 'Thasadith', sans-serif;
  font-size:1rem;
  font-weight: bold;
  color:rgb(255, 253, 236);
  
}

ul a:hover{
  /* border: 4px solid rgb(0, 255, 221); */
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  font-family: 'Thasadith', sans-serif;
  font-size:1rem;
  font-weight: bold;
  color:rgb(0, 238, 255);
}


#navbar-container{
grid-area: nav;
/* border:2px dashed darkblue; */
display:flex;
justify-content: flex-end;
align-items:center;
margin-right:40px;

}

#navbar-container a{
  /* border-bottom:1px dashed rgb(255, 47, 47); */
  margin:10px;
display: flex;
justify-content: flex-end;
}



#navicon{
  display: none;
}

/* Above The Fold Container */


 /* Footer */ 


/* Media Queries */
/* Tablet */
@media(max-width: 1024px)   {

  .nav-container{
    grid-template-areas: 'logo'
    'nav';
    display: flex;
    flex-direction: column;
  }

  .hamburger{
    z-index: 1;
    position: fixed;
    top:40px;
    left:80%;
    cursor:pointer;
    width:20px;
  }
  
  .hamburger-item{
    background-color:#000;
    width:25px;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 50rem;
  }
  
  .sidebar{
    position: fixed;
    margin-top:150px;
    /* top:0; */
    right:-800px;
    width:250px;
    /* height: 60%; */
    padding:20px 20px ;
    /* display:none; */
    background-color:#1370fc;
    transition: right .5s;
  }
  
  #hamburger-checkbox:checked ~ .sidebar{
right:0;
  }
  
   
  
ul a{
  /* border: 4px solid rgb(0, 255, 221); */
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}
 
 #navbar-container    {
  margin:0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:20px;

}

#navbar-container a{
  /* border-bottom:1px dashed rgb(255, 47, 47); */
  margin:10px;
display: flex;
justify-content: flex-start;
}

#navbar-container a li{
  /* border-bottom:3px solid indianred; */
  display: flex;
  padding:20px;

}

ul a{
  /* border: 4px solid gold; */
  width: 100%;
  height: 75px;
}
 
  #navicon{
    display: flex;
  } 
}


/* Mobile */
@media(max-width: 500px)
{

  body{
    margin: 2px auto;
  }

  .background-image{
    height: 100vh;
    background-image: url("../img/nih-atf.jpg");
    background-repeat: no-repeat;
    background-position:cover;
    background-size: cover;
    background-attachment: fixed;
  }

  

.nav-container{
    grid-template-areas: 'logo'
    'nav';
   
  }

  #headerLogo-container{
    height: auto;
  }
  .hamburger{
    /* z-index: 1; */
    position: fixed;
    top:40px;
    left:80%;
    cursor:pointer;
    width:20px;
  }
  
  .hamburger-item{
    background-color:#000;
    width:25px;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 50rem;
  }
  
  .sidebar{
    position: fixed;
    margin-top:125px;
    /* top:0; */
    right:-800px;
    width:100%;
    height: 75%;
    padding:20px 20px ;
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    background-color:#1370fc;
    transition: right .5s;
  }
  
  #hamburger-checkbox:checked ~ .sidebar{
right:0;
  }
  
   


#navbar-container{

  margin:10px 10px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding:20px;
}




#navbar-container a li{
  /* border-bottom:3px solid indianred; */
  display: flex;
  /* padding:20px; */

}



#navbar-container a{
  /* border-bottom:1px dashed rgb(255, 47, 47); */
  margin:10px;
display: flex;
justify-content: flex-start;
}

ul a{
  /* border: 4px solid gold; */
  width: 100%;
  height: 75px;
  font-size:1.2rem;
  /* margin-bottom:20px; */
}

  #navicon{
    display: flex;
  }
/* Above the Fold Container */

.nih-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  
}





