/* css is where we do our formating */
/* we create rule sets */
/* A rule set has a selector, i.e. div */
/* Then it has Declaration Block, {
  
}*/
/* The Declaration Block has Declarations, i.e. width, height, border, border radius, background-image, back-ground size, background-repeat, display */
/* Each Declaration has properties and values */
html{
  background-color: dodgerblue;
} 

body{
  width: 60%;
  margin: 0 auto;
  background-color: lawngreen;
  border: 5px solid black;
}

img{
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  border: 10px ridge gold;
}

#primary{
  color: deeppink;
}

#secondary{
  color: red;
}

[target]{
  border: 1px solid red;
}

