/* css is where we do our formating */
/* we create rule sets */
/* A rule set has a selector, i.e. div */
/* Then it has Declaration Block, {
  
}*/
/* The Declaration Block has Declarations, i.e. width, height, border, border radius, background-image, back-ground size, background-repeat, display */
/* Each Declaration has properties and values */

div {
  width: 200px; 
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("../img/NI\ Logo.png\ -\ Shortcut.lnk"); 
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block; 
}

img {
  width: 200px;
  box-sizing: border-box;
  border: 20px dotted violet;
  padding: 20px;
 
}

.onelogo{
  border: 10px dashed orangered;

 
}

.twologo{
  border: 10px double orangered;

 
}
