/* DESKTOP */
header nav, header nav a, header svg{
  display: flex;
  padding: 10px;
  margin: 0 .5rem;
  /* border: 2px dashed greenyellow; */
}

header{
  justify-content: space-between;
  height: 2.8rem;
  /* border: 2px solid hotpink; */

}

header div{
  width:500px;
  height: 75%;
  margin:0 1rem;
  /* border: 2px dashed gold; */
}

header nav{
  width:100%;
  height: 100%;
  justify-content: flex-end;
  /* border: 2px solid hotpink; */
}
header nav a{
  width:150px;
  border-radius: 0px;
  /* border: 2px solid gold; */
}

header div a{
  justify-content: center;
  margin: 1 1rem;
  padding: 5px;
  /* border: 2px dashed salmon; */
}

header div a h1{
  font-size:1.5rem;
}

header nav a:hover {
  color:  aquamarine;
  background: rgba(60, 73, 69, 0.6);
  border:.8px solid rgba(164, 255, 247, 0.932);
  border-radius: 7px;
  
}

/* LANDING PAGE BEGIN */
#nih-atf{
  background-image: url("../img/1_about_desktop.jpg");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#nih-atf>div{
  height: 90vh;
}

.nih-center-spacebetween{
  padding:10px;
  margin:0 auto;;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 2px dashed greenyellow; */
}


#nih-atf h1{
    padding:10px;
    margin: 0 auto;
    border: none;
    width: 100%;
    border-radius: 20px;
    color: rgba(248, 255, 235, 0.76);
    /* background-color: rgba(134, 133, 133, 0.3); */
     font-size:12rem;
     text-align: center;
     /* text-decoration: underline rgb(248, 255, 235); */
     font-family: 'Staatliches', cursive;

 }

 #nih-atf h1:hover{
  padding:10px;
    margin: 0 auto;
    border: none;
    width: 100%;
    border-radius: 20px;
    color: rgba(248, 255, 235, 0.918);
  /* background-color: rgba(182, 182, 182, 0.2); */
  font-size:12rem;
   text-align: center;
   font-family: 'Staatliches', cursive;
 }


 .nih-spacearound{
  margin:40px;
  width:40%;
  height: 100px;
  padding: 20px;
  /* border:.5px solid rgb(202, 240, 125); */
  /* border-radius: 10px; */
  /* background-image: url(../img/2_training.jpg); */
  /* background-repeat: no-repeat; */
    /* background-position: left; */
    /* background-size: contain; */
    /* background-attachment: fixed; */
    opacity: .9;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

section article div{
  /* border:2px solid orange; */
  padding:20px;
  /* right:20px; */
}

.section-container{
  width:50%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 10px; */
  /* background-color: rgba(80, 80, 80, 0.4); */
  /* border:.7px dashed rgb(255, 255, 108,0.5); */
}


.course-events button{
  color: rgba(241, 237, 226, 0.932);
  padding: 15px;
  /* border: 1px solid rgba(164, 255, 247, 0.932); */
  border-radius: 30px;
  /* background-color: rgba(87, 87, 87, 0.5); */
  font-size: 25px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  /* text-decoration: underline dotted rgb(172, 214, 210); */
}
.course-events button:hover{
  /* border:  1px solid turquoise; */
  background-color: rgba(0,0,0,.2);
  border-radius: 30px;
  /* color:  rgba(164, 255, 247, 0.932); */

}


.course-container {
  /* border:2px solid hotpink; */
  box-sizing: border-box;
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left:120px; */
  
}

.event-container{
  /* border:2px solid aqua; */
  box-sizing: border-box;
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.event-container div section {
text-align: center;
display: flex;
}

.course-item{
  /* border: 4px groove purple; */
  width:100%;
  height:30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
article div section h3{
  /* border:.5px solid rgba(157, 255, 201, 0.9); */
  background-color: rgb(117, 136, 130,0.4);
  padding: 15px;
  margin: 15px;
  text-align: center;
  display: flex;
  border-radius: 30px;
  font-size: 23px;
  font-family: 'Staatliches', cursive;
}

article div section h3:hover{
  width:100%;
  font-size: 23px;
  /* letter-spacing: .6px; */
  color:   rgba(238, 255, 249, 0.904);
  background-color: rgba(211, 233, 226, 0.199);
  border-radius: 30px;
  /* border:3px dashed green; */
  padding:15px;
  margin: 15px;
  font-family: 'Staatliches', cursive;
}

#mission{
  width: fit-content;
  font-size:30px;
  background:linear-gradient(to bottom, #c3e0f3, #99979780, #ffffff65);
}

#partners-container{
  width: 100%;
  height: 65.5vh;
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/4_contact.jpg);
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#part-title{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 10px;
  font-size: 70px;
  font-family: 'Staatliches', cursive;
}

#part-back-image{
  width: 100%;
  height:40vh;
  /* border: 5px dashed greenyellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

#part-back-image div{
  display: flex;
  height: 20vh;
  margin: 5px;
  /* flex-direction: column; */
/* align-items: center; */
  /* border: 3px solid black; */
}

.partners-pic{
  width: 50%;
  height:50px;
  padding:10px;
  /* margin:5px; */
  /* border: 2px dashed orange; */
  border-radius: 10px;
  display: flex;


}

#logo1, #logo2, #logo3, #logo4, #logo5{
  position: initial;
}

#logo2{
  background-color: rgba(61, 61, 61, 0.452);
}
#logo4, #logo5{
  background-color: rgba(199, 199, 199, 0.452);
}
/* LANDING PAGE END */

#test-displaynone{
  display: inherit;
}
footer nav, footer nav a, footer svg{
  display: flex;
  padding: 10px;
  margin: 0 .5rem;
  /* border: 2px dashed greenyellow; */
  flex-direction: row;
  align-content: center;
}

footer{
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 2rem;
  /* border: 2px solid hotpink; */

}

footer nav{
  width:100%;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  /* border: 2px solid green; */
}

footer nav a{
  width:100%;
  /* border-radius: 5px; */
  /* border: 2px dashed yellow; */
}

footer nav a:hover{
  color:  aquamarine;
  background: rgba(60, 73, 69, 0.6);
  border:.8px solid rgba(164, 255, 247, 0.932);
}

footer nav a h1{
  font-size: 1rem;
}

